/* 
* {
  padding: 0px;
  margin: 0px;
  font-family: "Operator Mono Light";
}

body {
  background: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width:100vw;
}

.box{
  width:25vw;
  height: 65vh;
  border-radius: 0.5rem;
  background: cornflowerblue;
  border-style: none;
}

.inputData{
  display:flex;
}

.inputField{
  width: 250px;
  height: 20px;
  margin: auto;
  border-radius: 0.5rem;
  padding: 1rem 1rem;
  outline: none;
  border-style: groove;
  font-size: 17px;
  margin-top: 10px;
}
 */
* {
  padding: 0px;
  margin: 0px;
  font-family: "Operator Mono Light";
}

body {
  background: #e6e5e5;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  /* margin: auto; */
}

.main {
  width: 305px;
  height: 432px;
  background: rgba(4, 7, 37, 0.88);
  border-radius: 15px;
  display: flex;
  justify-content: center;
}

.inputData {
  position: absolute;
  border-style: none;
  margin-top: 45px;
}

.inputField {
  width: 238px;
  height: 41px;
  background: rgba(245, 233, 233, 0.95);
  mix-blend-mode: overlay;
  border-style: none;
  outline: none;
  font-size: 20px;
  font-weight: bold;
}

.inputField:focus {
  background-color: white;
}

.noData {
  margin-top: 60%;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.info {
  text-align: center;
  margin-top: 50%;
  color: white;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 21px;
}

.location {
  /* font-family: Roboto; */
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 21px;
  margin-top: 18px;
}

.date {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 19px;
  margin-top: 10px;
}

.weather-condition {
  width: 60px;
  height: 60px;
  margin-top: 20px;
}

.temp {
  /* font-family: Roboto; */
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  line-height: 20px;
  margin-top: 30px;
  text-align: center;
}

.tempmin_max {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  margin-top: 25px;
}
