* {
  padding: 0px;
  margin: 0px;
  font-family: "Operator Mono Light";
}

body {
  background: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
  height: 100vh;
  width:100vw;
}

.box{
  width:25vw;
  height: 65vh;
  border-radius: 0.5rem;
  background: cornflowerblue;
  border-style: none;
}

.inputData{
  display:flex;
  background-color: indigo;
}

.inputField{
  width: 250px;
  height: 20px;
  margin: auto;
  border-radius: 0.5rem;
  padding: 1rem 1rem;
  outline: none;
  border-style: groove;
  font-size: 17px;
  margin-top: 10px;
}